{% block header %}
    <nav class=" navbar bg-black" >
        <ul class=" nav " >
            <a class=" nav-link text-white m-2" href="{{path('accueil')}}" >Acceuil</a>
            <a class=" nav-link text-white m-2" href="{{path('persos')}}" >Personnages</a>
            <a class=" nav-link text-white m-2" href="" ></a>
        </ul>
    </nav>
{% endblock %}
